{% extends 'base.html.twig' %}

{% block body %}
    <h1>Solution {%  %}</h1>






    <p>
        <a class="btn btn-default" href="{{ path('solution_index') }}">
            Retour à la liste
        </a>
        -
        <a class="btn btn-warning" href="{{ path('solution_edit', { 'id': solution.id }) }}">
            <span class="glyphicon glyphicon-pencil"></span>
            Modifier
        </a>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    </p>
{% endblock %}
