imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: "@TestBundle/Resources/config/services.yml" }
    - { resource: "@EngravingBundle/Resources/config/services.yml" }
    - { resource: "@FaultyBundle/Resources/config/services.yml" }
    - { resource: "@GravureBundle/Resources/config/services.yml" }

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en
    picturecrawler: '%kernel.project_dir%/web/picturecrawler'
    attachment_directory: '%kernel.project_dir%/web/attachment/'
    gravure_gabarit_directory: '%kernel.project_dir%/web/gravure/gabarit/'
    gravure_jpg_directory: '%kernel.project_dir%/web/gravure/jpg/'
    gravure_jpg_url: 'http://tools.cadeau-maestro.com/gravure/jpg/'
    gravure_pdf_directory: '%kernel.project_dir%/web/gravure/pdf/'
    gravure_pdf_url: 'http://tools.cadeau-maestro.com/gravure/pdf/'
    gravure_gabarit_url: 'http://tools.cadeau-maestro.com/gravure/gabarit/'
    url_directory_engraving: 'https://cadeaumaestro.newquest.fr/modules/nq_config/files/'
#    url_directory_engraving: 'https://cadeau-maestro.com/modules/nq_config/files/'
    bond: '%kernel.project_dir%/web/bond'
    status_EN_CHAIN: 4
    status_EN_COURS: 3
    gravure_zip_directory: '%kernel.project_dir%/web/gravure/zip/'


framework:
    #esi: ~
    #translator: { fallbacks: ['%locale%'] }
    secret: '%secret%'
    router:
        resource: '%kernel.project_dir%/app/config/routing.yml'
        strict_requirements: ~
    form: ~
    csrf_protection: ~
    validation: { enable_annotations: true }
    serializer: { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale: '%locale%'
    trusted_hosts: ~
    session:
        # https://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id: session.handler.native_file
        save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'
    fragments: ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true

# Twig Configuration
twig:
    form_themes:
        - 'bootstrap_3_horizontal_layout.html.twig'
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'

# Doctrine Configuration
doctrine:
    dbal:
        driver: pdo_mysql
        host: '%database_host%'
        port: '%database_port%'
        dbname: '%database_name%'
        user: '%database_user%'
        password: '%database_password%'
        charset: UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.project_dir%/var/data/data.sqlite"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #path: '%database_path%'

    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: '%mailer_transport%'
    host: '%mailer_host%'
    username: '%mailer_user%'
    password: '%mailer_password%'
    spool: { type: memory }

ivory_ck_editor:
    default_config:                     my_custom_config    # Utiliser par defaut la configuration my_custom_config
    configs:
        my_custom_config:
            language:                   "%locale%"
            toolbar:                    "standard"          # Charger la toolbar tollbar_1 (voir plus bas)
            stylesSet:                  "my_styles"         # Chargement des styles personnalisables my_styles (voir plus bas)
            uiColor:                    "#FCFCFC"           # Couleur de fond de l'interface
            height:                     "600px"             # Hauteur par défaut
            contentsCss:                ['bundles/app/css/style.css'] # Charge les styles dans l'éditeur (permet de voir en temps réel le résultat)
    styles:         # Configuration des styles personnalisables
        my_styles:
            - { name: "Alert Success", element: "div",  attributes: { class: "alert alert-success", role: "alert" }}
            - { name: "Alert Info", element: "div",  attributes: { class: "alert alert-info", role: "alert" }}
            - { name: "Alert Warning", element: "div",  attributes: { class: "alert alert-warning", role: "alert" }}
            - { name: "Alert Danger", element: "div",  attributes: { class: "alert alert-danger", role: "alert" }}
            - { name: "Badge", element: "span",  attributes: { class: "badge" }}


iq2i_prestashop_web_service:
    url: http://cadeaumaestro.newquest.fr
    key: KSWP3L85YX13OIURBU7P1P48FZGX372K
    debug: false


#iq2i_prestashop_web_service:
#    url: http://www.cadeau-maestro.com
#    key: KSWP3L85YX13OIURBU7P1P48FZGX372K
#    debug: false
