{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un bon de retour</h1>

    {{ form_start(form) }}
    <label> Votre fichier PDF :<br>{{ form_widget(form.zip) }}
    </label>
    <br>
    {{ form_end(form) }}


    <a class="btn btn-danger" href="{{ path('bond_index') }}">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Retour
    </a>
{% endblock %}
