
<h2>Liste des gravures sur la gravopraph</h2>

<br>

{% for picture in pictures %}

    <tr>
        <td>loop.index</td>
    <td>{{ picture.name }}</td>
    <td><img src="{{ picture.pathJpg }}" alt="{{ picture.name }}" width="200"></td>
    </tr>

{% endfor %}





