{% extends 'base.html.twig' %}

{% block body%}
   <center> <h1>Service Client</h1></center>
<div class="row">
    <div class="col-sm-2">
        <button onclick="rafraichissement();" type="button" class="btn btn-danger">Retour au début</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-warning" onclick="DisplayGuide();" type="button" >Guide</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-warning" onclick="DisplayAttachment();" type="button" >Pièces Jointes</button>
    </div>
    <div class="col-sm-3">
        <button class="btn btn-warning" onclick="DisplayPhone();" type="button">Numéro Téléphone</button>
    </div>
    <div class="col-sm-3">
        <input type="text" id="recherche" size="50" />

           <button onclick="recherche();" type="button" class="btn btn-warning">Rechercher</button>
        <div id="container"></div>
    </div>
    <div class="col-sm-2">
        <button onclick="OngletOdoo();" type="button" class="btn btn-warning">Odoo</button>
    </div>
</div>

    <div id="guide"></div>
    <div id="phone"></div>
    <div id="attachment"></div>

    <br><br>

    {#div dans laquelle se situe les boutons/branches#}
    <div id="arbre"></div>


{% endblock %}
{% block stylesheets %}
    <style>
        .btn:hover /* Quand le visiteur clique sur le lien */
        {
            background-color: #FFCC66;
        }
    </style>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('bundles/serviceclient/js/arbre.js') }}"></script>
{% endblock %}