{% extends 'base.html.twig' %}

{% block body %}
    <h1>Heure qui détermine la fin de journée</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Heure</th>
                <th>Dernier intervenant</th>
                <th>Mis à jour le </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for endOfTheDayTime in endOfTheDayTimes %}
            <tr>
                <td>{% if endOfTheDayTime.hours %}{{ endOfTheDayTime.hours|date('H:i:s') }}{% endif %}</td>
                <td>{{ endOfTheDayTime.lastSpeaker }}</td>
                <td>{% if endOfTheDayTime.updatedAt %}{{ endOfTheDayTime.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('endofthedaytime_edit', { 'id': endOfTheDayTime.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


   {% endblock %}
