{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un mail</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" />
    {{ form_end(form) }}

       <a class="btn btn-danger" href="{{ path('mailbond_index') }}">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Retour
    </a>
{% endblock %}
