{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier le nombre de caisses</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-warning" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}


            <a class="btn btn-danger" href="{{ path('boxnumber_index') }}">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Retour
            </a>
{% endblock %}
