{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des mails à reçevoir sur la Gravograph</h1>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for mail in mails %}
            <tr>
                <td>{{ mail.name }}</td>
                <td>{{ mail.email }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('gravure_mail_edit', { 'id': mail.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('gravure_mail_new') }}">Ajouter un mail</a>

{% endblock %}
