{% extends 'base.html.twig' %}


{% block gravure %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-3" id="div_display_gravure"></div>
        <div class="col-sm-5" id="div_tableau">
            <div id="div_table"></div>
            <div>
                <button class="btn btn-default" onclick="actualize(0);" id="btn_actualize" role="button"
                        style="border-radius: 15px;padding: 10px;background-color: #575354;color:white;">
                    <h3>
                        <i class="glyphicon glyphicon-edit" style="font-size:35px;"></i>
                        Modifier la session
                    </h3>
                </button>
                <br>
                <button class="btn btn-default" onclick="actualize(0);" id="btn_actualize" role="button"
                        style="border-radius: 15px;background-color: #575354;color:white;">
                    <h4>
                        <i class="glyphicon glyphicon-trash" style="font-size:20px;"></i>
                        Annuler la session
                    </h4>
                </button>
            </div>
        </div>
        <div class="col-sm-4" id="div_chain_session">

            <h2>Session N°{{ idSession }}</h2>

            <div id="div_chain_category"></div>
            <div id="div_modal_list_gravure"></div>
            <div id="div_button_gravure"></div>
        </div>
    </div>

    {#modal pour le bouton OK afin d'avertir l'utilisateur de vérifier son dossier et ses mails#}
    {#<div class="modal fade bd-example-modal" id="Modal_Alert" tabindex="-1" role="dialog"#}
         {#aria-labelledby="Modal_Alert_Title" aria-hidden="true">#}
        {#<div class="modal-dialog modal-lg" role="document">#}
            {#<div class="modal-content">#}
                {#<div class="modal-header">#}
                    {#<h5 class="modal-title" id="Modal_Alert_Title"></h5>#}
                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                        {#<span aria-hidden="true">&times;</span>#}
                    {#</button>#}
                {#</div>#}
                {#<div class="modal-body" id="Modal_Alert_Body">#}
                    {#<h2>Les pdf vont être téléchargés et les mails envoyés, merci de vérifier.</h2>#}
                {#</div>#}
                {#<div class="modal-footer">#}
                    {#<button type="button" class="btn btn-info">Passer à l'étape suivante</button>#}
                    {#<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    <style>

        input[type='checkbox'] {
            transform: scale(4);
            margin-top: 18px;
            margin-left: -25px;
        }

        #table_order td {
            /*padding:20px;*/
            width: 65px;
            height: 65px;
            background-color: #E1B7B9;
            border: 6px solid white;
            font-size: large;
            color: white;
            font-size: 30px;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
        }

        #div_tableau {
            padding-top: 60px;
        }

        #div_chain_category td {
            font-size: large;
            color: black;
            font-size: 30px;
            text-decoration: none;
            text-align: center;
        }

        #div_chain_category i {
            font-size: 25px;
            padding: 10%;
            color: lightgrey;
        }

        #div_chain_category a {
            color: black;
        }

        #div_chain_category table {
            width: 80%;
        }

        .modal-lg {
            width: 1500px;
        }

        /*#div_btn {*/
            /*margin-top: 5%;*/
        /*}*/

        /*#div_btn button {*/
            /*margin: 5% 5% 5% auto;*/
        /*}*/

        /*.btn-picto {*/
            /*!*text-align: center;*!*/
            /*cursor: pointer;*/
            /*background-color: white;*/
            /*border: none;*/
            /*border-radius: 5px;*/
            /*box-shadow: 0 9px #95a5a6;*/
            /*margin: 5%;*/
        /*}*/

        /*.btn-picto:hover {*/
            /*background-color: whitesmoke;*/
        /*}*/

        /*.btn-picto:active {*/
            /*background-color: whitesmoke;*/
            /*box-shadow: 0 5px #95a5a6;*/
            /*transform: translateY(4px);*/
        /*}*/


    </style>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('bundles/gravure/js/assistant_gravure.js') }}"></script>
{% endblock %}