{% extends 'base.html.twig' %}

{% block body %}
 <h1>Obtenir le manuel utilisateur</h1>

<br>
<br>
<br>
<br>
<br>
 <a href="{{ path('assistant_gravure_manuel_download') }}"><button class="btn btn-warning">Télécharger le manuel utilisateur</button></a>
 <br>
 <br>
    <p>Lisez le avec attention ;)</p>
{% endblock %}

